.Worklogs {
  display: inline-flex;
  flex-direction: column;

  &__top {
    display: flex;
    margin-bottom: 20px;
    // outline: 1px solid red;

    & > div {
      padding: 10px;
      flex-shrink: 0;
      flex-grow: 0;
      border: 1px solid #ccc;
      border-radius: 10px;

      & > h2 {
        margin-top: 0;
      }
    }
  }

  &__id {
    margin-right: 20px;
  }

  &__dates {
    margin-right: 10px;
  }

  &__action[class] {
    display: flex;
    padding: 0;
    border: none;

    button {
      border-radius: 10px;

      &:first-child {
        margin-right: 10px;
      }
    }
  }

  &__bottom {
    display: flex;
    // outline: 1px solid red;

    // loader
    & > div {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  &__content {
    width: 100%;
    & > section {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 25px;

      h2 {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
  }
}
