@import '~styles/vars';

.Worklogs {
  display: flex;
  flex-direction: column;

  &__bottom {
    display: flex;

    // loader
    & > div {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }

  &__content {
    width: 100%;

    & > section {
      border: 1px solid $gray-middle;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 25px;

      h2 {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
  }
}
