@import '~styles/vars';

.TaskRow {
  position: relative;

  &:hover {
    td:last-child {
      svg.delete {
        fill: $gray-middle;
      }
    }
  }

  &__hightlight {
    border: 2px solid $primary;
  }

  &__newStatus {
    position: absolute;
    right: -2px;
    bottom: -2px;
    display: inline-flex;
    background-color: $primary;
    color: white;
    font-size: 12px;
    line-height: 12px;
    padding: 1px 3px;
    cursor: pointer;
  }

  &__status {
    & > span {
      font-family: inherit;
      justify-content: center;
      display: inline-flex;
      padding: 2px 8px;
      border-radius: 10px;
      min-width: 80px;
    }

    &.backlog {
      & > span {
        background-color: $gray-middle;
      }
    }

    &.in-work,
    &.default {
      & > span {
        background-color: $warning;
      }
    }

    &.done {
      & > span {
        background-color: $success;
      }
    }
  }

  &__actions {
    padding: 0;

    // delete icon
    svg.delete {
      fill: transparent;
      width: 0.8em;
      height: 0.8em;
      cursor: pointer;

      &:hover {
        fill: $error !important;
      }
    }

    // check icon
    svg.check {
      fill: $primary;
      width: 1em;
      height: 1em;
      cursor: pointer;
    }
  }

  &__tooltip {
    list-style: none;
    margin: 0;
    padding: 0;

    code {
      font-weight: bold;
    }
  }
}
