// colors
$primary: #1976d2;
$secondary: #9c27b0;
$success: #82e18a;
$warning: #fec606;
$error: #d33257;

$text: #000;
$gray-dark: #bbb;
$gray-middle: #ccc;
$gray-light: rgba(1, 1, 1, 0.015);

// duration
$duration: 230ms;
