.CalendarGrid {
  &__weeks {
    display: flex;
    flex-wrap: wrap;
    // width: 100%;
    // outline: 1px solid red;

    & > div {
      flex-basis: 14.285%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      flex-grow: 1;
      border: 1px solid #ccc;

      span {
        text-align: center;
      }

      // Суббота и Воскресенье
      &:nth-child(7n),
      &:nth-child(7n - 1) {
        flex-basis: 10%;
        flex-shrink: 1;
        flex-grow: 0;
        min-width: 115px;
      }
    }
  }

  &__namesOfDays {
    text-align: center;
    &.holiday {
      color: red;
      opacity: 0.33;
    }
  }

  &__day {
    header {
      text-align: center;
      border-bottom: 1px solid #000;
      background-color: #ddd;
      font-weight: 600;
    }

    & > div {
      min-height: 150px;
    }

    &.holiday {
      header {
        color: red;
        opacity: 0.33;
      }

      & > div {
        opacity: 0.33;
      }
    }
  }
}
