.WorklogsData {
  color: inherit;
  display: flex;
  flex-direction: column;

  // performer name
  & > h2 {
    color: #1976d2;
    padding-bottom: 10px;
  }

  &__daysContainer {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__day {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-basis: 19%;
    max-width: 330px;
    min-width: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 12px;
    margin-bottom: 12px;

    // Дата дня
    & > h3 {
      background-color: #eee;
      text-align: center;
      margin-top: 0;
      margin-bottom: 5px;
      border-radius: 10px 10px 0 0;
    }

    // Итого время на день
    & > h4 {
      border-top: 1px solid #ddd;
      text-align: right;
      margin: 0;
      border-radius: 0 0 10px 10px;
      padding-right: 10px;
    }
  }

  &__dayData {
    margin-bottom: 10px;
    flex-grow: 1;
  }

  &__task {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;

    & > span {
      &:first-child {
        flex-shrink: 0;
        margin-right: 3px;
      }
      &:nth-child(2) {
        font-size: 13px;
      }
      &:last-child {
        flex-shrink: 0;
        margin-left: auto;
      }
    }
  }
}
