@import '~styles/vars';

.TasksTracker {
  display: flex;
  flex-direction: column;
}

.Filters {
  display: flex;
  margin-bottom: 20px;

  &__item {
    padding: 10px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid $gray-middle;
    border-radius: 10px;
    margin-right: 10px;

    & > h2 {
      margin-top: 0;
    }
  }

  &__actions[class] {
    display: flex;
    padding: 0;
    border: none;

    button {
      border-radius: 10px;

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}

.Error {
  color: $error;
  border: 1px solid $error;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 25px;
}

.Tasks {
  color: inherit;
}

.Table {
  &__row {
    &:hover {
      td:last-child {
        svg {
          fill: $gray-middle;
        }
      }
    }
  }

  &__status {
    & > span {
      font-family: inherit;
      justify-content: center;
      display: inline-flex;
      padding: 2px 8px;
      border-radius: 10px;
      min-width: 80px;
    }

    &.backlog {
      & > span {
        background-color: $gray-middle;
      }
    }

    &.in-work,
    &.default {
      & > span {
        background-color: $warning;
      }
    }

    &.done {
      & > span {
        background-color: $success;
      }
    }
  }

  &__delete {
    padding: 0;

    svg {
      fill: transparent;
      width: 0.8em;
      height: 0.8em;
      cursor: pointer;

      &:hover {
        fill: $error !important;
      }
    }
  }
}
