@import '~styles/vars';

.TasksTracker {
  display: flex;
  flex-direction: column;
}

.Tasks {
  header {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin-bottom: 10px;

    b {
      font-size: 1.5em;
      font-weight: bold;
      margin-right: auto;
    }

    span {
      margin-top: 5px;

      code {
        font-family: monospace;
        font-size: 14px;
      }
    }

    button {
      margin-left: 5px;
      margin-top: 7px;
    }

    // h2 {
    //   display: inline-flex;
    //   margin-top: 14px;
    //   align-items: center;

    //   & > div {
    //     font-weight: normal;
    //     margin-left: 10px;
    //     font-size: 14px;
    //   }
    // }
  }
}

.Table {
  &__row {
    &:hover {
      td:last-child {
        svg {
          fill: $gray-middle;
        }
      }
    }
  }

  &__status {
    & > span {
      font-family: inherit;
      justify-content: center;
      display: inline-flex;
      padding: 2px 8px;
      border-radius: 10px;
      min-width: 80px;
    }

    &.backlog {
      & > span {
        background-color: $gray-middle;
      }
    }

    &.in-work,
    &.default {
      & > span {
        background-color: $warning;
      }
    }

    &.done {
      & > span {
        background-color: $success;
      }
    }
  }

  &__delete {
    padding: 0;

    svg {
      fill: transparent;
      width: 0.8em;
      height: 0.8em;
      cursor: pointer;

      &:hover {
        fill: $error !important;
      }
    }
  }
}
